<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ShoppingCart</display-name>
  <welcome-file-list>
    <welcome-file>LoginForm.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.bitwise.shoppingcart.controller.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginPage</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.bitwise.shoppingcontainer.container.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.bitwise.shoppingcontainer.container.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>com.bitwise.shoppingcontainer.container.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
</web-app>